In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
df = pd.read_csv("../data/Intent_toy_dataset.csv")
df.head()

                                               text intent
0        I need to see a dermatologist in New York.    COR
1     Can you recommend a cardiologist near Boston?    COR
2  Looking for a pediatrician around San Francisco.    COR
3  Find me a neurologist close to downtown Chicago.    COR
4      I'm searching for a good urologist in Miami.    COR

In [13]:
label_map = {'COR':0, 'OOC':1, 'INC':2}
df['label'] = df['intent'].map(label_map)

In [14]:
df[["text", "label"]]

                                                text  label
0         I need to see a dermatologist in New York.      0
1      Can you recommend a cardiologist near Boston?      0
2   Looking for a pediatrician around San Francisco.      0
3   Find me a neurologist close to downtown Chicago.      0
4       I'm searching for a good urologist in Miami.      0
..                                               ...    ...
95                   Stupid app can't find anything.      2
96                              Send help from Mars.      2
97                               Is Batman a doctor?      2
98                            Why are you even here?      2
99                     LOL, just kidding. Who cares?      2

[100 rows x 2 columns]

In [5]:
df.head()

                                               text intent  label
0        I need to see a dermatologist in New York.    COR      0
1     Can you recommend a cardiologist near Boston?    COR      0
2  Looking for a pediatrician around San Francisco.    COR      0
3  Find me a neurologist close to downtown Chicago.    COR      0
4      I'm searching for a good urologist in Miami.    COR      0

In [ ]:
X, y = df["text"], df["label"]
X_train, X_test, y_train, y_test = train_test_split(X, y, )

In [4]:
df["label"].value_counts()

label
INC    34
COR    33
OOC    33
Name: count, dtype: int64